body {
  background-color: rgba(53, 59, 72,1.0);
}

.navbar-custom {
  background-color: rgba(47, 54, 64,1.0);
}

.content {
  color: rgba(245, 246, 250,1.0);
  background-color: rgba(47, 54, 64,1.0);
  padding-top: 0.5em;
}

.footer {
  border-top: 1px solid black;
  padding: 0.5em;
}

.link {
  text-decoration: none !important;
  color: rgba(220, 221, 225,1.0) !important;
  transition: 0.3s;
}

.link:hover {
  color: rgba(0, 168, 255,1.0) !important;
}

.img-custom {
  border: 0.1em solid rgba(64, 115, 158,1.0);
  border-radius: 1em;
}

.info-container {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.info-bar {
  padding: 0.5em;
  background-color: rgba(64, 115, 158,1.0);
  margin-bottom: 0px;
}

.info-content {
  background-color: rgba(53, 59, 72,1.0);
  padding: 1em;
}

.content-header {
  font-size: 2em;
  padding: 0.25em;
}

.item-content {
  transition: 0.3s;
}

.item-content:hover {
  background-color: rgba(72, 126, 176,1.0);
  padding:1em;
}

@media only screen and (max-width: 770px) {
  .sm-hide {
    display: none;
  }
}

.item-title {
  font-weight: bold;
}

.item-dates {
  color: rgba(127, 143, 166,1.0);
  font-size: 0.8em;
}
.item-dates span {
  padding-right: 0.75em;
}

.btn-custom {
  background-color: rgba(127, 143, 166,1.0);
  font-weight: bold;
}