{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="row" style="margin-top:0.5em;">
      <div class="col-sm-3 text-center">
        <img src="{% static 'images/profile.png' %}" class="img-fluid img-custom">
      </div>
      <div class="col-sm lead text-justify">
        <p>Hi, my name is Luke Holland and this is my website.</p>
        <p>
          I'm currently a student at the University of Glasgow stuyding Software Engineering. This is my porfolio website and will be used to showcase my projects
          I have worked on in my free time and provide links to my social media and developer accounts.
        </p>
        <p>If you see any project on here you like feel free to check it out on Github or contact me regarding it if you have any questions or requests.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="info-container">
    <p class="lead text-center info-bar">Statistics</p>
    <div class="info-content">
      <div class="row">
        <div class="col text-center">
          Website Stats <br>
          <img class="img-fluid" src="{% static 'images/pie.png' %}">
        </div>
        <div class="col text-center">
          Project Stats <br>
          <img class="img-fluid" src="{% static 'images/pie.png' %}">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="info-container">
    <p class="lead text-center info-bar">Contact and Social Media</p>
    <div class="info-content">
      <div class="row text-center">
        <div class="col"> <a href="https://github.com/AmazonPriime" target="_blank" class="link"> <i class="fab fa-github fa-5x"></i> </a> </div>
        <div class="col"> <a href="https://twitter.com/LukeHolland0101" target="_blank" class="link"> <i class="fab fa-twitter fa-5x"></i> </a> </div>
        <div class="col"> <a href="https://www.youtube.com/channel/UCUB0dOhhB1dqw83OfEHX8ig" target="_blank" class="link"> <i class="fab fa-youtube fa-5x"></i> </a> </div>
        <div class="col"> <a href="https://www.linkedin.com/in/luke-holland-/" target="_blank" class="link"> <i class="fab fa-linkedin fa-5x"></i> </a> </div>
        <div class="col"> <a href="mailto:lukeholland15500@gmail.com" target="_blank" class="link"> <i class="far fa-envelope fa-5x"></i> </a> </div>
      </div>
    </div>
  </div>
{% endblock %}
