{% load latest %}
{% get_latest_update as project %}
<div class="latest">
    <div class="lead info-bar">
        <a class="link" href="{% url 'project_views' project.name %}" target="_blank">Recently Updated</a>
    </div>
    <div class="info-content">
        <span data-toggle="tooltip" title="Project Title"><i class="fas fa-book"></i> <a class="link" href="{% url 'project_views' project.name %}" target="_blank">{{ project.name }}</a></span> <br>
        <span data-toggle="tooltip" title="Project Description"><i class="fas fa-info-circle"></i> {{ project.description }}</span> <br>
        <span data-toggle="tooltip" title="Project Updated"><i class="fas fa-arrow-alt-circle-up"></i> {{ project.date_updated }}</span> <br>
        <span data-toggle="tooltip" title="Project Language"><i class="fas fa-keyboard"></i> {{ project.language }}</span> <br>
        <span data-toggle="tooltip" title="Project Site Views"><i class="fas fa-eye"></i> {{ project.views }} views</span> <br>
    </div>
</div>
<hr>