{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="info-bar content-header">Projects</div>
  <div class="info-content content-body">
    {% if projects %}
      {% for project in projects %}
        <div class="row">
          <div class="col-sm-1 text-center sm-hide">
            <i class="fab fa-{{ project.language }} fa-4x"></i>
          </div>
          <div class="col-sm">
            <span class="project-title">
              <a href="{{ project.url }}" class="link" target="_blank">{{ project.name }}
                <i class="fas fa-external-link-alt"></i>
              </a>
            </span><br>
            <span class="project-desc">{{ project.description }}</span>
          </div>
          <div class="col-sm-2 project-stats sm-hide">
            <i class="fas fa-eye"></i> {{ project.views}}<br>
            <i class="fas fa-code"></i> {{ project.language }}
          </div>
        </div>
        {% if not forloop.last %} <hr> {% endif %}
      {% endfor %}
    {% else %}
      <strong>No projects :'( probs an error, otherwise give me motivation :)</strong>
    {% endif %}
  </div>
{% endblock %}
