{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="info-bar content-header">Projects</div>
  <div class="info-content content-body">
    {% if projects %}
      {% for project in projects %}
        <div class="row item-content">
          <div class="col-sm-1 text-center sm-hide" data-toggle="tooltip" title="{{ project.language }}">
            {% if project.language|lower == "css" %}
              <i class="fab fa-css3-alt fa-4x"></i>
            {% elif project.language|lower == "html" %}
              <i class="fab fa-html5 fa-4x"></i>
            {% elif project.language|lower == "javascript" %}
              <i class="fab fa-js-square fa-4x"></i>
            {% else %}
              <i class="fab fa-{{ project.language|lower }} fa-4x"></i>
            {% endif %}
          </div>
          <div class="col-sm">
            <span class="project-title">
              <a href="{{ project.url }}" class="link" target="_blank">{{ project.name }}
                <i class="fas fa-external-link-alt"></i>
              </a>
            </span><br>
            <span class="project-desc">{{ project.description }}</span> <br>
            <div class="project-dates">
              <span data-toggle="tooltip" title="Project Created"><i class="fas fa-calendar-alt"></i> {{ project.date_created }}</span>
              | <span data-toggle="tooltip" title="Last Updated"><i class="fas fa-arrow-alt-circle-up"></i> {{ project.date_updated }}</span>
            </div>
          </div>
          <div class="col-sm-2 project-stats sm-hide">
            <i class="fas fa-eye" data-toggle="tooltip" title="Views"></i> {{ project.views}}<br>
            <i class="fas fa-code" data-toggle="tooltip" title="Language"></i> {{ project.language }}
          </div>
        </div>
        {% if not forloop.last %} <hr> {% endif %}
      {% endfor %}
    {% else %}
      <strong>No projects :'( probs an error, otherwise give me motivation :)</strong>
    {% endif %}
  </div>
{% endblock %}
