{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="info-bar content-header">{{ post.title }}</div>
  <div class="info-content content-body">
    <div class="blog-dates">
      <span data-toggle="tooltip" title="Date Posted">
        <i class="fas fa-calendar-alt"></i> {{ post.date_created }}
      </span>
      | <span data-toggle="tooltip" title="Last Edited">
        <i class="fas fa-arrow-alt-circle-up"></i> {{ post.date_updated }}
      </span>
    </div><br>
    <span class="blog-content">
      {{ post.content }}
    </span>
    <hr>
    <div class="blog-stats">
      <i class="fas fa-eye"></i> {{ post.views }}
      <i class="far fa-thumbs-up"></i> {{ post.likes }}
    </div>
  </div>
{% endblock %}
